@page "/login"
@layout Client.Components.Layout.AnonymousLayout
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Client.Components.bodies

<h2>Войти в LEARN KIT</h2>

<div class="login-form">
	<div class="form-group">
		<label for="email">Email</label>
		<input @bind="Email" id="email" type="email" placeholder="your@email.com" />
	</div>
	<div class="form-group">
		<label for="password">Пароль</label>
		<input @bind="Password" id="password" type="password" placeholder="••••••••" />
	</div>



	<button class="btn btn-primary" @onclick="Logins">Войти</button>

	<p class="signup-link">
		Нет аккаунта? <NavLink href="/registration">Зарегистрироваться</NavLink>
	</p>



	@if (!string.IsNullOrEmpty(ErrorMessage))
	{
		<div class="error-message">@ErrorMessage.</div>
	}



</div>

@code {

	private string Email = "";
	private string Password = "";
	private string ErrorMessage = "";


	public User? result = new User { };

	protected async Task Logins()
	{

		UserReq val = new UserReq();
		val.password = Password;
		val.email = Email;




		var response = await Http.PostAsJsonAsync("api/User/login", val);
		result = await response.Content.ReadFromJsonAsync<User>();

		if (result.name == null)
			ErrorMessage = "Неверный логин или пароль";
		else
			NavigationManager.NavigateTo($"/user/{result.userid}");

		
	}

	
	public class UserReq
	{
		public string password { get; set; }
		public string email { get; set; }
	}
}