@page "/login"
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer


<h2>Войти в LEARN KIT</h2>

<div class="login-form">
	<div class="form-group">
		<label for="email">Email</label>
		<input @bind="Email" id="email" type="email" placeholder="your@email.com" />
	</div>
	<p>привет @result.name</p>
	<div class="form-group">
		<label for="password">Пароль</label>
		<input @bind="Password" id="password" type="password" placeholder="••••••••" />
	</div>



	<button class="btn btn-primary" @onclick="Logins">Войти</button>

	<p class="signup-link">
		Нет аккаунта? <NavLink href="/registration">Зарегистрироваться</NavLink>
	</p>


	@if (!string.IsNullOrEmpty(ErrorMessage))
	{
		<div class="error-message">@ErrorMessage</div>
	}
</div>

@code {

	private string Email = "";
	private string Password = "";
	private string ErrorMessage = "";
	public int sum = 0;

	public async Task onClick()
	{
		sum += 1;	
	}


	public User? result = new User { };

	public Dictionary<string, string> values = new Dictionary<string, string>();
	protected async Task Logins()
	{

		values.Add("password", Password);
		values.Add("email", Email);

		StringContent sc = new StringContent(System.Text.Json.JsonSerializer.Serialize(values));



		var client = new HttpClient();
		client.BaseAddress = new Uri("http://localhost:5000/");
		var response = await client.PostAsync("api/User/login", sc);
		result = await response.Content.ReadFromJsonAsync<User>();
		

	}

	public class User
	{
		public int userid { get; set; }
		public string? avatar { get; set; }
		public string name { get; set; }
		public string surname { get; set; }
		public string? patronymic { get; set; }
		public string email { get; set; }
		public string telephonnumber { get; set; }
		public string passwordhash { get; set; }
		public string role { get; set; }
		public bool? isactive { get; set; }
		public DateTime? createdat { get; set; }
	}
}